.content-ticket {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px;

    h1 {
        font-size: 25px;
    }
}

.status {
    display: flex;
    justify-content: space-between;

    p {
        display: flex;
        height: 40px;
        width: 80px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #09991f, #0dba27);
        border-radius: 15px;
        font-size: 18px;
    }
}

.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .details {
        display: flex;
        gap: 10px;
    }

    img {
        width: 50px;
        padding: 10px;
        border-radius: 50px;
        background: #0f7cf1;
    }

    h2 {
        color: #5e6573;
        font-size: 18px;
    }

    h1 {
        font-size: 25px;
    }
    
    .details:last-child img {
        background-color: #0bb833;
    }
}


.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 15px;
    padding: 17px;
    border-radius: 10px;
    background-color: #0b1643;
}

.value .price {
    h1 {
        color: #1536cc;
    }

    h2 {
        color: #5e6573;
        font-size: 18px;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 15px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 17px;
    background: #0f7cf1;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .8s;
}

.btn:hover {
    background: #0d6bcf;
}

/* no current ticket */

.no-ticket {
    background-color: #0b1643;
    border-radius: 10px;
    padding: 10px;
}

.no-current-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 400px;
    text-align: center;

    img {
        height: 9rem
    }

    button {
        width: 85vw;
        height: 4rem;
        border: none;
        border-radius: 16px;
        background-color: #0d6bcf;
        color: white;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
    }
}