
.container {
    width: 95vw;
    padding-bottom: 80px;
}

.ticket-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    gap: 1.5rem;
    width: 100%;
}


.tickect {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: .5rem;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #131931;
}

.location-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.date-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hour-id-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}