<div class="container">
    <div class="ticket-wrap">
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
        
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
        <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3>10/11/2025</h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>2h 35min</h3>
                    <h3>ID: TK2024-001233</h3>
                </div>
            </div>
        </div>
    </div>
</div>