<div class="container">
    <div class="ticket-wrap">
        @for (item of ticket; track $index) {
            <div class="tickect">
            <div class="location-value">
                <h2>UNINASSAU</h2>
                <h2>R$ 6,75</h2>
            </div>
            <div class="date-status">
                <h3> {{item.DataPagamento}} </h3>
                <h3>Pago</h3>
            </div>
            <div class="hour-id-btn">
                <div class="text">
                    <h3>{{item.EmissaoTimeStamp}} </h3>
                    <h3>ID: {{item.CodigoTicket}} </h3>
                </div>
            </div>
        </div>
        }
    </div>
</div>