.content-balance {
    height: 260px;
}

.balance {
    display: flex;
    justify-content: space-between;
    background: #0f7cf1;
    padding: 30px;
    border-radius: 0px 0px 35px 35px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info .wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.info .wrap p {
    color: #cbc8c8;
}

.balance .visible .btn-eye {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.balance .visible img {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.contente-card {
    width: 90%;
}

.title-section {
    margin-left: 10px;
}