.content-balance {
    height: 260px;
}

.balance {
    display: flex;
    justify-content: space-between;
    background: #0f7cf1;
    padding: 30px;
    border-radius: 0px 0px 35px 35px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info .wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.info .wrap p {
    color: #cbc8c8;
}

.balance .visible .btn-eye {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.balance .visible img {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.contente-card {
    max-width: 1280px;
    width: 90%;
}

.wrapper {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    padding: 15px;
    gap: 15px;
    overflow-x: auto;
}

.title-section {
    margin-left: 10px;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.cards {
    background: #0f62f1;
    border-radius: 8px;
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    gap: 30px;
    transition: .5s;
    cursor: pointer;

    .plus-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 50px;
    }
}

.cards:last-child {
    background-color: transparent;
    border: 3px dashed #ccc;
}

.cards:hover {
    transform: scale(1.02);
}