.wrapper {
    height: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: end;
    padding: 15px;
    gap: 10px;
    overflow-x: auto;
}


.wrapper::-webkit-scrollbar {
    display: none;
}

.comum {
    background: rgb(15, 98, 241);
}

.estudante {
    background: rgb(12, 224, 58);
}

.premium {
    background: rgb(9, 9, 0);
}

.cards {
    border-radius: 8px;
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    transition: .5s;
    cursor: pointer;

    .plus-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 50px;
    }
}

.cards.ativo {
    transform: translateY(-30px);
}

.hidden {
    display: none;
}