.container {
    height: 70px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: .1rem;
    position: fixed;
    bottom: 0;
    background-color: #0d1529;
    z-index: 1000;
}

ul {
    display: flex;
    align-self: center;
    justify-content: space-around;
    gap: 6rem;
}

li:hover {
    background-color: #131931;
    border-radius: 12px;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    cursor: pointer;
}

svg {
    width: 28px;
}

@media (max-width: 1280px) {
    ul {
    display: flex;
    align-self: center;
    justify-content: space-around;
    gap: 4rem;  
}
}