.container {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 1.5rem;
}

ul {
    display: flex;
    align-self: center;
    justify-content: space-around;
    gap: 6rem;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px;
}

a:hover {
    background-color: blue;
    border-radius: 6px;
}

svg {
    width: 28px;
}
