.wrapper {
    height: 220px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    padding: 15px;
    gap: 10px;
    overflow-x: auto;
}


.wrapper::-webkit-scrollbar {
    display: none;
}

.cards {
    background: rgb(15, 98, 241);
    border-radius: 8px;
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    transition: .5s;
    cursor: pointer;

    .plus-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 50px;
    }
}

.cards:last-child {
    background-color: transparent;
    border: 3px dashed #ccc;
}

.cards:hover {
    transform: scale(1.02);
}

.hidden {
    display: none;
}