<section>
    <div class="container">
        <div class="top-info">
            <img src="arrow-left.svg" alt="" (click)="homeNavegation()">
            <h1>Detalhes do Cartão</h1>
        </div>

        <div class="card-content">
            <div class="card" [class.premium]="cardType == 'Premium'" [class.estudante]="cardType == 'Estudante'"
                [class.comum]="cardType == 'Comum'">
                <div class="card-info">
                    <h1>Cartão {{cardType}}</h1>
                    <h2>R$ {{balance}}</h2>
                    <h3>{{cardNumber}}</h3>
                </div>
            </div>
        </div>


        <form [formGroup]="form" (ngSubmit)="onSumit()">
            <div class="card-recharge">
                <div class="wrapper">
                    <h1>Recargar Cartão</h1>
                    <div class="recharge-choice">
                        <label for="Valor">Valor da recarga</label>
                        <input type="number" placeholder="R$ 99,99" formControlName="Valor">
                    </div>
                    <div class="recharge-options">
                        <div class="option-recharge" (click)="addValue(10)">
                            <h1>+ R$ 10</h1>
                        </div>
                        <div class="option-recharge" (click)="addValue(25)">
                            <h1>+ R$ 25</h1>
                        </div>
                        <div class="option-recharge" (click)="addValue(50)">
                            <h1>+ R$ 50</h1>
                        </div>
                    </div>
                    <div class="recharge">
                        <button type="submit" class="btn">Recarregar</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="transactions">
            @if (!historyCard) {
            } @else {
            <div class="wrap">
                <h1>Transações Recentes</h1>
                @for (item of historyTransactions; track $index) {
                <div class="recent-transactions">
                    <div class="values">
                        <h1>{{item.Tipo == 'ADDSALDO' ? 'Recarga' : 'Pagamentos'}}</h1>
                        <h2> {{item.DataRegistro}} </h2>
                    </div>
                    <h2>{{item.Tipo == 'ADDSALDO' ? '+' : '-'}} R${{item.Valor}} </h2>
                </div>
                }
            </div>
            }
        </div>
    </div>
</section>