.container {
    padding: 10px;
}

.top-info {
    height: 70px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;

    h1 {
        position: relative;
        top: 17px;
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

    img {
        width: 30px;
        cursor: pointer;
    }
}

.card-content {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background: #0f7cf1;
        height: 200px;
        width: 90%;
        border-radius: 10px;
    }
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calendar {
    display: flex;
    gap: 6px;
    position: relative;
    top: 40px;

    img {
        width: 30px;
    }

    p {
        position: relative;
        top: 7px;
    }
}

.card-recharge {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 18px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    label {
        font-size: 25px;
    }
}

.wrap input {
    font-size: 18px;
}

.wrap input:placeholder-shown {
    font-size: 18px;
}

.recharge-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recharge-options .option-recharge {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}

.recharge-options .option-recharge:hover {
    background-color: #16db51;
    border: none;
}

.recharge-choice {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
        height: 45px;
        padding: 5px;
        background-color: #16191e;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: white;
    }
}

.recharge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    .btn {
        width: 90%;
        height: 40px;
        border-radius: 5px;
        font-size: 18px;
        background: #0f7cf1;
        color: white;
        border: none;
        cursor: pointer;
        transition: .5s;
    }

    .btn:hover {
        background: #0d6bcf;
    }
}

.transactions {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .wrap {
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 18px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .recent-transactions {
        border: none;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .recent-transactions:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }

    .recent-transactions h1 {
        font-size: 18px;
    }
    
    .recent-transactions h2 {
        font-size: 15px;
    }

    .values {
        position: relative;
        bottom: 10px;
        height: 50px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.wrap > h1 {
    font-size: 30px;
}