.container {
    padding: 10px;
}

.top-info {
    height: 70px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;

    h1 {
        position: relative;
        top: 17px;
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

    img {
        width: 30px;
        cursor: pointer;
    }
}
