<section>
    <div class="container">
        <div class="title">
            <h1>Histórico de {{option}}</h1>
        </div>
        <div class="content">
            <div class="filter">
                <button (click)="ticket()" [class.ativo]="options == true">Ticket</button>
                <button (click)="card()" [class.ativo]="options == false">Cartão</button>
            </div>
            <div class="wrap">
                @if (options) {
                    <app-history-ticket-component></app-history-ticket-component>
                } @else {
                    <app-history-card-component></app-history-card-component>
                }
            </div>
        </div>
    </div>
</section>
