.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    min-height: 80vh;
    height: fit-content;
    position: relative;
    top: 50px;

    .title {
        width: 100%;
        height: 200px;
        z-index: 0;
        position: absolute;
        top: -50px;
        background: #0f7cf1;
        padding: 30px;
        border-radius: 0px 0px 35px 35px;
    }

    .content {
        z-index: 1;
        position: relative;
        width: 96%;
        top: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
    }
}

.wrap {
    width: 97vw;
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.filter > button {
    padding: 5px 15px;
    color: white;
    width: 150px;                                                                                                                                                                                                                                                                                                                                                                                                                                            
    height: 40px;
    border: none;
    background-color: #0859af;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: .5s;
}

.filter > button:hover {
    background-color: #064f9e;
    border: 1px solid #ccc;
}

.filter > button.ativo {
    background-color: #022d5a;
    border: 1px solid #ccc;
}