<header>
    <div class="container">
        <div class="brand">
            <h1>UNINASSAU</h1>
            <p>Estacionamento Inteligente</p>
        </div>
        @if (visible == true) {
            <button type="button" class="menu" (click)="invisibleBalance()"><img src="bar.svg" alt=""></button>
        } @else {
            <button type="button" class="menu" (click)="invisibleBalance()"><img src="delete.svg" alt=""></button>
        }
    </div>
    @if (visible == false) {
        <div class="options">
        <ul>
            <li>
                <p>Contestar Ticket</p>
            </li>
            <li>
                <p>Perda Cartão</p>
            </li>
            <li>
                <p>Falar com o Suporte</p>
            </li>
        </ul>
    </div>
    } @else {}
</header>
