.container {
    width: 95vw;
    padding-bottom: 80px;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    gap: 1.5rem;
    width: 100%;
}

.card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    height: 100px;
    padding: 20px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #131931;

    .values {
        position: relative;
        bottom: 6px;
        height: 50px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        font-size: 14px;
    }
}
    