.container {
    width: 95vw;
    padding-bottom: 80px;
}

.card-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 10px;
    gap: 1.5rem;
    width: 100%;

    .no-history {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin: 0 auto;
    }

    .no-history button {
        width: 40%;
        height: 35px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        background-color: #0f7cf1;
        cursor: pointer;
        color: white;
    }
}

.card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    height: fit-content;
    padding: 20px 15px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #131931;

    .values {
        position: relative;
        bottom: 6px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 18px;
        font-size: 12px;
    }
}
    