<div class="container">
    <div class="card-wrap">
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
        <div class="card">
            <div class="values">
                <h1>Pagementos</h1>
                <h2>14/01/2024</h2>
            </div>
            <h2>-R$ 4,50</h2>
        </div>
    </div>
</div>