<div class="container">
    @if (!historyCard) {
        <div class="card-wrap">
            <div class="no-history">
                <div class="wrap">
                    <h1>Bem-vindo ao Cartão</h1>
                    <p>Você ainda não tem nenhum gasto registrado ou um cartão</p>
                    <p>Solicite um cartão pré-pago</p>
                </div>
                <button (click)="cardSolicitationNavegation()">Solicite um cartão</button>
            </div>
        </div>
    } 
    @else { 
        <div class="card-wrap">
        @for (item of historyCardMoviment; track $index) {
            <div class="card">
                <div class="values">
                    <h1>{{item.Tipo == 'ADDSALDO' ? 'Recarga' : 'Pagamentos'}}</h1>
                    <h2> {{item.DataRegistro}} </h2>
                    <h2> {{item.HoraRegistro}} </h2>
                </div>
                <h2>{{item.Tipo == 'ADDSALDO' ? '+' : '-'}} R${{item.Valor}} </h2>
            </div>
        }
    </div>
    }
    
</div>