:root {
    background-color: #131931;
    color: white;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
}
