.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.profile-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.information-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.configuration {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

li {
    width: 100%;
}

a {
    display: inline-block;
    width: 100%;
    padding: 1rem .6rem;
    border-radius: 10px;
}

a:hover {
    background-color: #191b20;
}
