.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(to right, transparent, rgb(11, 22, 67, .7));
    border-radius: 10px;

    .text {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    img {
        width: 70px;
        padding: 10px;
        border-radius: 50px;
        background: #0f7cf1;
    }
}

.profile-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.information-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.configuration {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;

    .exit {
        color: red;
    }
}

li {
    width: 100%;
}

a {
    display: inline-block;
    width: 100%;
    padding: 1rem .6rem;
    border-radius: 10px;
}

a:hover {
    background-color: rgb(24, 41, 73, .3);
}
