<section class="profile">
    <div class="container">
        <h1>Meu perfil</h1>
        <article class="user">
            <img src="user-profile.svg" alt="user-profile">
            <div class="text">
                <h3>João</h3>
                <h3>joao@gmail.com</h3>
                <h3>Matrícula: 99999999</h3>
            </div>
        </article>
        <article class="profile-information">
            <h2>Informações pessoais</h2>
            <div class="information">
                <div class="information-wrap">
                    <h4>Nome</h4>
                    <h4>joao</h4>
                </div>
                <div class="information-wrap">
                    <h4>Email</h4>
                    <h4>joao@gmail.com</h4>
                </div>
                <div class="information-wrap">
                    <h4>Telefone</h4>
                    <h4>83988356864</h4>
                </div>
                <div class="information-wrap">
                    <h4>Matrícula</h4>
                    <h4>9999999</h4>
                </div>
            </div>
        </article>
        <article class="configuration">
            <h2>Configurações</h2>
            <ul>
                <li><img src="edit-profile.svg" alt=""> <a href="">Editar Dados</a></li>
                <li><img src="credit-card.svg" alt=""><a href="">Cartões e Pagamentos</a></li>
                <li><img src="gear.svg" alt=""><a href="">Configurações</a></li>
                <li><img src="exit.svg" alt=""><a href="" class="exit">Sair</a></li>
            </ul>
        </article>
    </div>
</section>