.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background: linear-gradient(to right, transparent, rgb(11, 22, 67, .7));
    border-radius: 10px;

    .text {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 16px;
    }

    img {
        width: 70px;
        padding: 10px;
        border-radius: 50px;
        background: #0f7cf1;
    }
}

.profile-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.information-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.configuration {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

    img {
        width: 28px;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5rem;
    width: 100%;

    .exit {
        color: #ff0000;
    }
}

li {
    width: 100%;
    font-size: 15px;
    display: flex;
}

a {
    display: inline-block;
    width: 100%;
    padding: 1rem .6rem;
    border-radius: 10px;
    font-size: 17px;
}

li:hover {
    background-color: rgb(24, 41, 73, .3);
    border-radius: 10px;
    cursor: pointer;    
}


@media (max-width: 1280px) {
    .user {
        .text {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            font-size: 12px;
        }
    }

    .information {
        .information-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-size: 15px;
        }
    }

    .configuration a {
        font-size: 15px;
    }
}